@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@layer root {
    :root {
        --ff-dm: "DM Serif Text", serif;
        --ff-open-sans: "Open Sans", sans-serif;
    }
}
@layer colors {
    :root {
        --color-links: hsl(28, 50%, 32%);
        --color-links-hovered: hsl(28, 50%, 62%);
        --color-white: hsl(0, 24%, 83%);
        /* --color-bg: hsl(39, 31%, 84%); */
        --color-bg: gray;
        --color-bg-card: hsl(17, 63%, 14%);
    }
}
@layer reset {
    *,*::before,*::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html {
        scroll-behavior: smooth;
    }
    body  {
        background: white;
        color: black;
        font-family: var(--ff-open-sans);
    }
    a {
        text-decoration: none;
        color: black;
    }
    ul {
        list-style: none;
    }
}
@layer utils {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .flex-col {
        display: flex;
        flex-direction: column;
    }
    .mw-16 {
        max-width: 1600px;
        margin-inline: auto;
    }
    .mw-18 {
        max-width: 1800px;
        margin-inline: auto;
    }
}

@layer header {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 7rem;
        background: white;
        z-index: 10;
        text-transform: uppercase;
    }
    header ul {
        gap: 2rem;
    }
    header li {
        font-weight: 700;
        font-size: 1.1rem;
    }
    header li a {
        color: var(--color-links);
        transition: .3s ease-in-out;
    }
    header li a:hover {
        color: var(--color-links-hovered);
    }
    header li a.active {
        color: var(--color-links-hovered);
    }
    .logo {
        width: 150px;
        height: auto;
    }
    .logo img {
        width: 100%;
    }
}
@layer section-1 {
    .section-1 {
        background-image: url(./img/bg-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* transform: scaleX(-1); */
        width: 100%;
        height: 65vh;
        margin-top: 7rem;

        border-image: linear-gradient(
            rgba(0,0,0,0.6),
            rgba(0,0,0,0.6))
            fill 1;
    }
    .section-1-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }
    .section-1-content h2 {
        font-family: var(--ff-dm);
        font-size: 2rem;
        font-weight: 400;
        color: var(--color-white);
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .section-1-content h1 {
        font-size: 5rem;
        font-family: var(--ff-dm);
        color: var(--color-white);
        text-transform: uppercase;
        max-width: 800px;
        line-height: 1.1;
    }
    .section-1-content p {
        max-width: 700px;
        color: var(--color-white);
        font-family: var(--ff-open-sans);
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 40px;
        margin-top: 20px;
        text-transform: capitalize;
    }
    .section-1-content a {
        color: var(--color-white);
        background: transparent;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid var(--color-white);
        text-transform: capitalize;
        font-weight: 700;
        font-family: var(--ff-open-sans);
        font-size: 1.1rem;
        transition: .3s ease-in-out;
    }
    .section-1-content a:hover {
        color: var(--color-white);
        background: var(--color-links-hovered);
    }
}
@layer section-2 {
    .section-2 {
        margin-block: 2rem;
    }
    .section-2 .icons-container {
        /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        place-items: center; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding-top: 10px;
        margin-bottom: 20px;
    }
    .section-2 .icon {
        text-align: center;
        width: 400px;
        height: 100%;
    }
    .section-2 .icon img {
        height: auto;
    }
    .section-2 .icon h4 a{
        font-size: 1rem;
        font-weight: 600;
        color: var(--color-links);
        transition: .3s ease-in-out;
    }
    .section-2 .icon h4 a:hover {
        color: var(--color-links-hovered);
    }
    .section-2 .icon p {
        font-size: .7rem;
        font-weight: 400;
        margin-top: 5px;
    }
}
@layer section-3 {
    .section-3 {
        /* background: var(--color-bg); */
        width: 100%;
        padding-bottom: 20px;
    }
    .section-3 h2 {
        font-weight: 700;
        font-size: 4rem;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        place-items: center;
        /* justify-content: center;
        align-items: center; */
        gap: 2rem;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        height: 100%;
        width: 100%;
        background: var(--color-bg-card);
        padding-bottom: 10px;
        color: white;
        border-radius: 10px;
        overflow: hidden;
    }
    .card h3 {
        padding-left: 5px;
        padding-top: 10px;
        font-size: 1.4rem;
    }
    .card p {
        max-width: 99%;
        font-size: .9rem;
        font-weight: 200;
        margin-block: 10px;
        padding: 0 5px;
    }
    .card img{
        width: 100%;
        height: 380px;
        object-fit: cover;
    }
    .cta {
        padding-left: 5px;
    }
    .cta a {
        font-size: 1rem;
        font-weight: 700;
        color: var(--color-white);
        padding: 10px 20px;
        background: transparent;
        border: 1px solid white;
        border-radius: 5px;
        margin-right: 10px;
    }
}